<!DOCTYPE html>
<html>
  <head>
    <title>This is <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my <%= title %> Website</p>
	<h2>Trainning for the Exam</h2>
    <p>Welcome to Lab 2 - TING (MSc EITE)</p>
  </body>
</html>
